@font-face {
  font-family: 'Montserrat';
  src: url(../src/assets/font/Montserrat-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat Light';
  src: url(../src/assets/font/Montserrat-Light.otf);
  font-weight: lighter;
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url(../src/assets/font/Montserrat-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url(../src/assets/font/Montserrat-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: 'Montserrat Italic';
  src: url(../src/assets/font/Montserrat-LightItalic.otf);
  font-weight: italic;
}
body {
  font-family: 'Montserrat Medium';
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
input,
textarea,
span,
div,
img,
svg {
  margin-bottom: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-row > div {
  padding: 0;
}
